**List in pandas DataFrame Cell**

How do you extract the contents of a DataFrame cell that hosts an iterable, e.g list, while maintaining a primary KEY.

In [1]:
import numpy as np
import pandas as pd

In [2]:
sample_df = pd.DataFrame({'Col1': ['group 1', 'group 2', 'group 3'], 
             'Col2':[['spec 1', 'spec 2', 'spec 3'], ['trial 1', 'trial 2', 'trial 3', 'trial 4'], ['leggo 1', 'leggo 2', 'leggo 3']]})

sample_df

      Col1                                  Col2
0  group 1              [spec 1, spec 2, spec 3]
1  group 2  [trial 1, trial 2, trial 3, trial 4]
2  group 3           [leggo 1, leggo 2, leggo 3]

Given the above DataFrame create a matching, e.g
<br>group 1, spec 1
<br>group 1, spec 2
<br>group 1, spec 3
<br>group 2, trial 1
<br>group 2, trial 2
<br>...

In [3]:
sample_df

      Col1                                  Col2
0  group 1              [spec 1, spec 2, spec 3]
1  group 2  [trial 1, trial 2, trial 3, trial 4]
2  group 3           [leggo 1, leggo 2, leggo 3]

In [4]:
resultant_df = pd.DataFrame()

for row_ind in np.arange(sample_df.shape[0]):
    
    Col1 = sample_df.loc[row_ind, 'Col1']
    
    for spec in sample_df.loc[row_ind, 'Col2']:
        new_row = pd.DataFrame([Col1, spec]).transpose()
        new_row.columns = sample_df.columns
        resultant_df = pd.concat([resultant_df, new_row])

In [5]:
resultant_df

      Col1     Col2
0  group 1   spec 1
0  group 1   spec 2
0  group 1   spec 3
0  group 2  trial 1
0  group 2  trial 2
0  group 2  trial 3
0  group 2  trial 4
0  group 3  leggo 1
0  group 3  leggo 2
0  group 3  leggo 3